/* --- Contents

1.Variables
2.Basic style
    2.1 Basic tags 
    2.2 Basic class
    2.3 Collaborative classes
3.Header
    3.1 Header
    3.2 Header nav
4.MAIN
    4.1 MAIN Header
    4.2 MAIN main
        4.2.2 Section Startup business
        4.2.3 Section Financial services
        4.2.4 Article News & Business services
            4.2.4.1 Section News & Business services
            4.2.4.2 Section Business services
    4.3 MAIN footer
5.FOOTER
6. MEDIA

END Contents --- */
/* ---------- 1.Variables ----------*/
:root {
  /* Color */
  --color-white: #FFFFFF;
  --color-Desert_Storm: #F8F8F8;
  --color-Gray_Chateau: #99A2AA;
  --color-Dove_Gray: #757575;
  --color-Sunglow: #FDC13D;
  --color-Saffron: #FEC524;
  --color-Green_Vogue: #042C4B;
  --color-Prussian_Blue: #0E2F4B;
  --color-Pale_Sky: #6C757D;
  --color-box-shadow: rgba(95, 98, 102, 0.17);
  --color-box-shadow-activ: rgba(0, 0, 0, 0.5);
  /* sizes */
  --max-width: $max-width;
}

/* ---------- 2.Basic style----------*/
/* 2.1 Basic tags */
body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  display: none;
}

h2 {
  font-family: "Rubik", sans-serif;
  color: var(--color-white, #ffffff);
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}

h3 {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: clamp(1.75rem, -0.0682rem + 9.091vw, 3rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
}

h4 {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: clamp(1.125rem, 0.5796rem + 2.727vw, 1.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
}

h5 {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.33;
}

h6 {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75;
}

/* 2.2 Basic class */
.container {
  margin-inline: auto;
  max-width: var(--max-width);
  padding-left: clamp(0.625rem, -0.0568rem + 3.409vw, 2.5rem);
  padding-right: clamp(0.625rem, -0.0568rem + 3.409vw, 2.5rem);
  border: 2px solid red;
}

.background-Saffron {
  background: var(--color-Saffron, #fec524);
}

.background-Desert_Storm {
  background: var(--color-Desert_Storm, #f8f8f8);
}

.background-Green_Vogue {
  background: var(--color-Green_Vogue, #042c4b);
}

.postcode, .Post-office, .startup-business, .nav-items {
  display: flex;
  justify-content: start;
}

.financial-services-wrapper {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.financial-services-text, .startup-business-subtitel {
  font-family: "Open Sans", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
}

/* ---------- 3.HEADER ----------*/
/* 3.1 Header */
.header-background {
  background: var(--color-white);
}

.header-logo {
  width: 11.625rem;
  height: 3.125rem;
  padding-top: clamp(0.9375rem, 0.4911rem + 2.232vw, 1.5625rem);
  padding-bottom: 0.9375rem;
}

.menu-burger {
  display: none;
}

/* 3.2 Header nav */
.nav-items {
  padding-top: 10px;
  padding-bottom: 10px;
  column-gap: 30px;
}

.nav-item_link {
  font-family: "Rubik", sans-serif;
  color: var(--color-Gray_Chateau, #99a2aa);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.nav-item_link:after {
  color: var(--color-Prussian_Blue, #0e2f4b);
  background-color: var(--color-Prussian_Blue, #0e2f4b);
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.nav-item_link:focus, .nav-item_link:focus-visible, .nav-item_link:hover {
  color: var(--color-Prussian_Blue, #0e2f4b);
}
.nav-item_link:hover:after, .nav-item_link:focus:after {
  width: 100%;
}

/* 4.2 MAIN main */
/* 4.2.2 Section Startup business */
.startup-business {
  position: relative;
  align-items: center;
  margin-top: clamp(2.5rem, -1.5rem + 20vw, 7.5rem);
  margin-bottom: clamp(3.125rem, -1.875rem + 25vw, 9.375rem);
}

.startup-business-img {
  position: absolute;
  z-index: 0;
  right: 0;
  height: 100%;
}

.startup-business-header {
  z-index: 1;
  max-width: clamp(19.375rem, 0.3124rem + 95.313vw, 38.4375rem);
}
.startup-business-header h3 {
  color: var(--color-Desert_Storm, #f8f8f8);
  white-space: collapse balance;
}

.startup-business-subtitel {
  width: clamp(19.375rem, 16.25rem + 15.625vw, 22.5rem);
  color: var(--color-Gray_Chateau, #99a2aa);
  margin-top: 36px;
  margin-bottom: 44px;
}

.startup-business__link {
  display: inline-block;
  box-sizing: border-box;
  width: clamp(17.8125rem, 15.5397rem + 11.364vw, 19.375rem);
  padding: 1.75rem 0;
  border-radius: 10px;
  background: var(--color-Sunglow, #fdc13d);
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  transition: 0.5s;
}
.startup-business__link:focus, .startup-business__link:focus-visible, .startup-business__link:hover {
  box-shadow: 0 3px 35px 0 var(--color-box-shadow-activ, rgba(0, 0, 0, 0.5));
  background: var(--color-Saffron, #fec524);
  transition: 0.5s;
}

/* 4.2.3 Section Financial services */
.financial-services {
  padding-top: clamp(3.125rem, -6.25008rem + 27.778vw, 6.25rem);
  padding-bottom: clamp(2.5rem, -4.99993rem + 22.222vw, 5rem);
}

.financial-services-wrapper {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
  border-radius: 10px;
  background: var(--color-Sunglow, #fdc13d);
}

.financial-services-box {
  width: 85%;
}

.financial-services-text {
  margin-top: 0.875rem;
  margin-bottom: 0.6875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.financial-services-arrow {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.financial-services-arrow:hover {
  color: var(--color-Desert_Storm, #f8f8f8);
}

.financial-services-titel {
  margin-top: clamp(2.5rem, -1.5rem + 20vw, 7.5rem);
  margin-bottom: 2rem;
}

.transfers {
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
}

.transfers-item {
  height: max-content;
  width: clamp(14.6875rem, 1.125rem + 35vw, 16.875rem);
  aspect-ratio: 1/1;
}
.transfers-item[data-transfers-item=on-off] {
  display: none;
}

.transfers-item__link {
  background-color: var(--color-white, #ffffff);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  padding: 30px;
  box-sizing: border-box;
  width: inherit;
  aspect-ratio: inherit;
}
.transfers-item__link:hover * {
  color: var(--color-white, #ffffff);
}
.transfers-item__link.money-transfers__color {
  background-image: url("../img/money-transfers.svg");
}
.transfers-item__link.money-transfers__color:focus, .transfers-item__link.money-transfers__color:focus-visible, .transfers-item__link.money-transfers__color:hover {
  background-color: #A6E9E9;
}
.transfers-item__link.international-transfers__color {
  background-image: url("../img/international-transfers.svg");
}
.transfers-item__link.international-transfers__color:focus, .transfers-item__link.international-transfers__color:focus-visible, .transfers-item__link.international-transfers__color:hover {
  background-color: #0056AF;
}
.transfers-item__link.insurance__color {
  background-image: url("../img/insurance.svg");
}
.transfers-item__link.insurance__color:focus, .transfers-item__link.insurance__color:focus-visible, .transfers-item__link.insurance__color:hover {
  background-color: #dc3545;
}

.transfers-item-arrow {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.43;
  margin-top: 0.8125rem;
}

/* 4.2.3 Section Post office */
.Post-office {
  align-items: center;
  padding-top: clamp(3.125rem, -11.21875rem + 42.5vw, 8.4375rem);
  padding-bottom: 135px;
  background-image: url("../img/post_office.svg");
  background-color: var(--color-Green_Vogue, #042c4b);
  background-size: 70vh;
  background-repeat: no-repeat;
  background-position: center right 0;
}

.Post-office-box {
  padding-top: 30px;
}

.Post-office-titel {
  color: var(--color-Desert_Storm, #f8f8f8);
}

.Post-office-subtitel {
  padding-top: 36px;
  padding-bottom: 36px;
  font-family: "Open Sans", sans-serif;
  color: var(--color-Gray_Chateau, #99a2aa);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
}

.postcode {
  flex-wrap: wrap;
  gap: 30px 11px;
  height: 78px;
  padding-bottom: 30px;
}
.postcode input {
  max-width: 506px;
  width: 100%;
  height: inherit;
  padding: 30px;
  font-family: "Rubik", sans-serif;
  color: var(--color-Pale_Sky, #6c757d);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
  border-radius: 10px;
  border: none;
  box-sizing: border-box;
}
.postcode input:focus, .postcode input:focus-visible, .postcode input:hover {
  box-shadow: 0 3px 35px 0 var(--color-box-shadow-activ, rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}
.postcode button {
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  background: var(--color-Sunglow, #fdc13d);
  text-align: center;
  box-sizing: border-box;
  height: inherit;
  width: 25%;
  border-radius: 10px;
  border: none;
}
.postcode button:focus, .postcode button:focus-visible, .postcode button:hover {
  box-shadow: 0 3px 35px 0 var(--color-box-shadow-activ, rgba(0, 0, 0, 0.5));
  background: var(--color-Saffron, #fec524);
  transition: 0.5s;
}

/* 4.2.4 Article News & Business services ---*/
.news-business {
  padding-top: clamp(3.125rem, 0.8928rem + 11.161vw, 6.25rem);
  padding-bottom: clamp(2.5rem, 0.7142rem + 8.929vw, 5rem);
}

/* 4.2.4.1 Section News */
.News {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.News-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.875rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.News-item {
  position: relative;
  min-width: 15.625rem;
  width: 48%;
  min-height: 15.625rem;
  border-radius: 10px;
  background: var(--color-white, #ffffff);
}
.News-item:focus, .News-item:focus-visible, .News-item:hover {
  box-shadow: 0 3px 15px 0 var(--color-box-shadow-activ, rgba(0, 0, 0, 0.35));
  transition: 0.5s;
}

.News-item__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.News-item-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
  padding: 1.875rem;
}

.News-item-header {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 1.25rem;
}

.News-item-icon {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}

.News-item-titel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 9px;
}
.News-item-titel h5 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: collapse balance;
}
.News-item-titel time {
  font-family: "Open Sans", sans-serif;
  color: var(--color-Gray_Chateau, #99a2aa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.News-item-info {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: collapse balance;
  font-family: "Open Sans", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
}

.News-btn {
  margin-left: calc(100% - 6.875rem);
  white-space: nowrap;
  background: none;
  border: none;
  font-family: "Rubik", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.News-btn:focus, .News-btn:focus-visible, .News-btn:hover {
  color: var(--color-Gray_Chateau, #99a2aa);
  transition: 0.5s;
}

/* 4.2.4.2 Section Business services */
.Business-services {
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.Business-services-items {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: wrap;
  gap: 1.875rem;
  padding-top: 3.875rem;
}

.Business-services-item {
  position: relative;
  flex: 1 0 340px;
  min-width: 25%;
  border-radius: 10px;
  background: var(--color-white, #ffffff);
}

.Business-services__link {
  display: block;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: clamp(1rem, -0.0714rem + 5.357vw, 2.5rem);
  border-radius: 10px;
  white-space: nowrap;
  font-family: "Rubik", sans-serif;
  color: var(--color-Gray_Chateau, #99a2aa);
  font-size: clamp(1rem, 0.8214rem + 0.893vw, 1.25rem);
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}
.Business-services__link:focus, .Business-services__link:focus-visible, .Business-services__link:hover {
  color: var(--color-Prussian_Blue, #0e2f4b);
  box-shadow: 0 3px 15px 0 var(--color-box-shadow-activ, rgba(0, 0, 0, 0.35));
}
.Business-services__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 4.3 MAIN footer */
.main-footer {
  width: 100%;
}

.main-footer-box {
  display: flex;
  flex-direction: column;
  row-gap: 1.75rem;
  padding-top: clamp(2.5rem, 0.1636rem + 11.682vw, 5.625rem);
  padding-bottom: clamp(1.25rem, -0.1518rem + 7.009vw, 3.125rem);
}

.main-footer-titel {
  padding-top: clamp(0rem, -0.9814rem + 4.907vw, 1.3125rem);
  padding-bottom: clamp(1rem, 0.0654rem + 4.673vw, 2.25rem);
  color: var(--color-white, #ffffff);
}

.main-footer-subtitel {
  font-family: "Open Sans", sans-serif;
  color: var(--color-Prussian_Blue, #0e2f4b);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
}

.mobil-items {
  padding-top: 1.5625rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.mobil-item {
  width: 10.625rem;
  height: 3.125rem;
}

.mobil-item-img {
  min-width: 130px;
  max-width: 10.625rem;
  width: 100%;
  height: auto;
}

.social-networks-items {
  padding-top: 15px;
  display: flex;
  column-gap: 1.25rem;
}

.social-networks-item {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}
.social-networks-item:focus, .social-networks-item:focus-visible, .social-networks-item:hover {
  border-radius: 50%;
  border: 2px solid var(--color-Green_Vogue, #042c4b);
}
.social-networks-item:focus .social-networks_link, .social-networks-item:focus-visible .social-networks_link, .social-networks-item:hover .social-networks_link {
  transform: scale(1.1);
}

.social-networks_link {
  width: 2rem;
  height: 2rem;
}
.social-networks_link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------- 5.FOOTER ----------*/
.footer {
  padding-top: 100px;
  padding-bottom: 108px;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer p {
  display: none;
}

.footer-block {
  width: 25%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3.1875rem;
  border-bottom: 1px solid var(--color-Gray_Chateau, #99A2AA);
}
.footer-block h6 {
  color: var(--color-Desert_Storm, #F8F8F8);
}

.footer-items {
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  padding-top: 1.4375rem;
}

.footer-item a {
  font-family: "Rubik", sans-serif;
  color: var(--color-Gray_Chateau, #99a2aa);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.footer-item a:focus, .footer-item a:focus-visible, .footer-item a:hover {
  color: var(--color-Desert_Storm, #F8F8F8);
}

/* ---------- 6. MEDIA ----------*/
@media screen and (max-width: 1023.98px) {
  .News-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .News-item {
    width: 98%;
  }
}
@media screen and (max-width: 939.98px) {
  .transfers {
    justify-content: space-around;
  }
  .transfers-item[data-transfers-item=on-off] {
    display: block;
    visibility: hidden;
  }
  .footer p {
    display: block;
    color: var(--color-Desert_Storm, #f8f8f8);
  }
  .footer-block {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-burger {
    width: 10px;
    height: 10px;
    background: red;
    display: block;
  }
  .nav-main {
    display: none;
  }
  .main-header {
    min-height: 21.875rem;
    max-height: clamp(21.875rem, 17.4108rem + 22.321vw, 28.125rem);
  }
  .Post-office {
    justify-content: center;
    background-position: center bottom 15%;
  }
  .Post-office-box {
    max-width: 506px;
    width: 100%;
  }
  .postcode button {
    width: 100%;
  }
}
@media screen and (max-width: 539.98px) {
  .transfers {
    justify-content: center;
  }
  .transfers-item {
    width: 16.875rem;
  }
  .transfers-item[data-transfers-item=on-off] {
    display: none;
  }
}
@media screen and (max-width: 374.98px) {
  .startup-business__link {
    align-self: center;
  }
}/*# sourceMappingURL=styles.css.map */